body {
	/*background-color: #FFFACD;*/
	background-color: rgba(245,245,245,.8);
}
h1#site_title {
	background-color: rgba(0,255,255,.8);
	text-align: center;
	position: fixed;
	top: 0px;
	right: 0px;
	font-size: 30px;
	font-style: italic;
	z-index: 30;
	width: 250px;
	margin: 0 auto;
	border-radius: 10px;
}
input#file_title {
	background-color: #F0FFF0;
	font-size: 20px;
	position: relative;
	top: 0px;
	left: 0px;
	border-radius: 5px;
	text-align: center;
	border-color: rgba(255,127,80,.6);
	display: block;
}
input#command {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: yellow;
	z-index: 50;
}
#app_container {
	background-color: rgba(165,42,42,.7);
	/*background-color: #FFFACD;*/
	/*background-color: rgba(245,245,245,.8);*/
	/*border: 1px gray dashed;*/
	width: 85%;
	height: 90%;
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0 auto;
	text-align: center;
}
.menubar {
	text-align: left;
	background-color: yellow;
	height: 20px;
}
.menu_file {
	text-align: left;
	background-color: grey;
	height: 25px;
	width: 100px;
	margin-bottom: 0px;
	font-size: 20px;
}
.doc-info {
	background-color: yellow;
	position: absolute;
	bottom: 0;
	left: 0px;
	width: 100%;
	text-align: center;
	z-index: 7;
}
#header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background-color: rgba(211,211,211,.8);
	border-bottom-color: rgba(169,169,169,.8);
}
menu[type="toolbar"] {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: grey;
}
#vertical_draft {
	border: 1px brown;
	/*width: 85%;*/
	/*max-width: 1400px;*/
	width: 90%;
	height: 85%;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-color: yellowgreen;
	background-image: url(img/old-paper02-768x480.jpg);
	/*
	background-image: url(img/gatag-00006130.png);
	background-position: 20% 20%;
	display: table;
	margin:auto auto;
	*/
	overflow: visible;
	z-index: 5;
	margin: auto;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	/*
	-ms-text-combine-horizontal: all;
	-webkit-text-combine: horizontal;
	text-combine-upright: all;
	*/
}
.vertical_paragraph {
	/* border: 1px red dashed; */
	/*
	float: right;
	  */
	position: relative;
	margin: 0 0 0 0;
	/*top: 20px;*/
	top: 5px;
	right: 20px;
	border-top: 2px grey solid;
	border-bottom: 2px grey solid;
}
.vertical_row {
	/*
	float: right;
	overflow: hidden;
	display: table-cell;
	 */
	border: 1px gray dashed;
	width: 30px;
	height: 95%;
	position: relative;
	color: black;
	padding: 0 0 0 0;
	text-align: left;
	overflow: hidden;
}
.vertical_character{
	border: 1px yellowgreen dashed;
	vertical-align: middle;
	position: relative;
	right: 2px;
	/*
	display: table-column;
	float: left;
	clear: left;
	position: relative;
	left: 5px;
	width: 20px;
	height: 20px;
	*/
}
#vertical_draft > .vertical_paragraph > .vertical_row {
	display: none;
	overflow: visible;
}
#vertical_draft .vertical_character {
	display: none;
}
#vertical_draft > .vertical_paragraph > .vertical_row.displayRow {
	display: block;
}
#vertical_draft .vertical_row > .vertical_character.displayChar {
	display: inline;
}
#vertical_draft .EOL.vertical_character{
	/* border: 1px gray dashed; */
	/*
	display: table-column;
	float: left;
	clear: left;
	left: 5px;
	 */
	position: relative;
	width: 20px;
	height: 20px;
	display: inline;
}
.cursor{
	border-top: 1px black solid;
	/*
	display: table-column;
	float: left;
	clear: left;
	left: 5px;
	position: relative;
	*/
	width: 20px;
	height: 20px;
}
.cursor_row::before {
	content: '';
	position: absolute;
	background-color: grey;
	width: 20px;
	height: 5px;
	top: -12px;
	right: 3px;
}
.vertical_dot {
	/*
	position: relative;
	top: -10px;
	right: -8px;
	padding-left: 5px;
	*/
}
.cursor.vertical_dot {
	/*
	border-top: 1px yellowgreen dashed;
	*/
}
.cursor.vertical_dot::before{
	/*
	content: '';
	border-top: 1px black solid;
	position: absolute;
	top: 8px;
	right: 5px;
	width: 20px;
	height: 5px;
	*/
}
.character_line {
	/*
	transform: rotate(90deg);
	*/
}
.character_line.cursor {
	/*
	border-top: 1px yellowgreen dashed;
	border-left: 1px black solid;
	*/
}
.vertical_before_bracket {
	/*
	transform: rotate(90deg);
	position: relative;
	top: 5px;
	*/
}
.vertical_after_bracket {
	/*
	transform: rotate(90deg);
	position: relative;
	bottom: 5px;
	*/
}
.cursor.vertical_before_bracket::before{
	/*
	content: '';
	transform: rotate(-90deg);
	border-top: 1px black solid;
	position: absolute;
	top: 7px;
	right: 5px;
	width: 20px;
	*/
}
.vertical_before_bracket.cursor {
	/*
	border-top: 1px yellowgreen dashed;
	*/
}
.cursor.vertical_after_bracket::before{
	/*
	content: '';
	transform: rotate(-90deg);
	border-top: 1px black solid;
	position: absolute;
	top: 7px;
	right: 5px;
	width: 20px;
	*/
}
.vertical_after_bracket.cursor {
	/*
	border-top: 1px yellowgreen dashed;
	*/
}
#vertical_draft > .vertical_paragraph > .vertical_row:first-child {
}
.vertical_row.page_break {
	border-right: 2px grey solid;
}
.vertical_row.page_last_row {
}
.page_last_row {
	border-left: 2px grey solid;
}
#date {
	clear: right;
	z-index: 10;
}
.input_buffer {
	width: 20px;
	position: fixed;
	background-color: rgba(211,211,211,.8);
	z-index: 10;
	box-shadow: 3px 2px;
	display: none;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	/*
	-ms-text-combine-horizontal: all;
	-webkit-text-combine: horizontal;
	text-combine-upright: all;
	*/
}
.alphabet {
	-ms-text-combine-horizontal: all;
	-webkit-text-combine: horizontal;
	text-combine-upright: all;
}
.input_buffer .vertical_character {
	left: 0px;
}
.input_buffer > .character_line {
	border: none;
	padding-top: 3px;
}
button {
	display: table-cell;
	vertical-align: middle;
}
.button_container {
	display: inline;
}
#input > p {
	margin:0 0 0 0;
}
#input:focus {
	background: green;
}
.number_of_line {
}
.number_of_char {
}
.NOC_line {
}
.cursor_char {
}
.cursor_line{
}
.data{
	display: none;
}
.convertView {
	width: 180px;
	z-index: 0;
	position: fixed;
}
.convertView[data-alternativeList="select"]{
	z-index: 10;
	background-color: grey;
}
.convertView > .vertical_row {
	border: none;
	width: 30px;
	float: right;
	overflow: hidden;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
}
.convertView > .vertical_row > .vertical_character {
	border: none;
}
.alternative_focus {
	background-color: white;
}
.input_buffer > .vertical_character.selectPhrase {
	background-color: yellow;
}
.file_list {
/*
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 15%;
	text-align: left;
	background-color: #B0C4DE;
	padding: 10px 10px 10px 10px;
	/*overflow: auto;*/
*/
}
#user-info {
	width: 400px;
	height: 40px;
}
.modal-backdrop.fade.in.none_modal-backdrop {
	opacity: 0;
}
.modal-title-open {
}
#file_list_modal.command_modal .modal-title-open {
	display: none;
}
.modal-title-command {
	display: none;
}
#file_list_modal.command_modal .modal-title-command {
	display: block;
}
#file_list_modal.command_modal .form-group {
	display: none;
}
#file_list_modal.command_modal .modal-dialog {
	position: absolute;
	bottom: 0px;
}
#file_list_modal.command_modal .modal-content {
}
