.style-strLen-30 .vertical-char {
	padding: 1% 1% 0 0;
}
span.decolation-color-red {
	color: red;
}
span.decolation-color-blue {
	color: blue;
}
.vertical-char[data-font-size="auto"] {
	font-size: 18px;
	height: 18px;
	width: 18px;
}
.vertical-char[data-font-size="30"] {
	font-size: 30px;
	height: 30px;
	width: 30px;
}
span.decolation-font-big {
	font-size: 45px;
	width: 45px;
	height: auto;
}
.decolation-font-big > .vertical-row {
	width: auto;
}
#vertical_draft span.EOL.vertical-char.decolation-font-big {
	width: 45px;
}
span.decolation-font-small {
	font-size: 15px;
}
.decolation-font-bold{
	font-weight: bold;
}
.decolation-font-italic {
	font-style: italic;
}
#palette {
	width: 100%;
	/* height: 500px;           */
	position: fixed;
	/* bottom: 0px;             */
	/* right: 0px;              */
	/* background-color: green; */
	top: 40px;
}
#palette .navbar-btn{
	/* padding: 0px; */
	margin-top: 0px;
	margin-bottom: 0px;
}
#palette a{
	/* padding: 0px; */
	margin-top: 0px;
	margin-bottom: 0px;
}
#select_color {
	/*
	opacity: 0;
	*/
}
.select-red {
	/* display: inline-block; */
	color: white;
	background-color: red;
}
.select-blue {
	/* display: inline-block; */
	color: white;
	background-color: blue;
}
.decolation-textalign-left .vertical-row {
	text-align: left;
}
.decolation-textalign-center .vertical-row {
	text-align: center;
}
.decolation-textalign-right .vertical-row {
	text-align: right;
}
.decolation-fontsize-big {
	font-size: 30px;
}
.decolation-fontsize-small {
	font-size: 10px;
}
