#vertical-draft .vertical-row.display-row[data-dispnum="0"]{
	top:350px;
	left:700px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="1"]{
	top:325px;
	left:675px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="2"]{
	top:300px;
	left:650px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="3"]{
	top:275px;
	left:625px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="4"]{
	top:250px;
	left:600px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="5"]{
	top:225px;
	left:575px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="6"]{
	top:200px;
	left:550px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="7"]{
	top:175px;
	left:525px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="8"]{
	top:150px;
	left:500px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="9"]{
	top:125px;
	left:475px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="10"]{
	top:100px;
	left:450px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="11"]{
	top:75px;
	left:425px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="12"]{
	top:50px;
	left:400px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="13"]{
	top:25px;
	left:375px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="14"]{
	top:0px;
	left:350px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="15"]{
	top:-25px;
	left:325px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="16"]{
	top:-50px;
	left:300px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="17"]{
	top:-75px;
	left:275px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="18"]{
	top:-100px;
	left:250px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="19"]{
	top:-125px;
	left:225px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="20"]{
	top:-150px;
	left:200px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="21"]{
	top:-175px;
	left:175px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="22"]{
	top:-200px;
	left:150px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="23"]{
	top:-225px;
	left:125px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="24"]{
	top:-250px;
	left:100px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="25"]{
	top:-275px;
	left:75px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="26"]{
	top:-300px;
	left:50px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="27"]{
	top:-325px;
	left:25px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="28"]{
	top:-350px;
	left:0px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="29"]{
	top:-375px;
	left:-25px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="30"]{
	top:-400px;
	left:-50px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="31"]{
	top:-425px;
	left:-75px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="32"]{
	top:-450px;
	left:-100px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="33"]{
	top:-475px;
	left:-125px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="34"]{
	top:-500px;
	left:-150px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="35"]{
	top:-525px;
	left:-175px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="36"]{
	top:-550px;
	left:-200px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="37"]{
	top:-575px;
	left:-225px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="38"]{
	top:-600px;
	left:-250px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="39"]{
	top:-625px;
	left:-275px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="40"]{
	top:-650px;
	left:-300px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="41"]{
	top:-675px;
	left:-325px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="42"]{
	top:-700px;
	left:-350px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="43"]{
	top:-725px;
	left:-375px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="44"]{
	top:-750px;
	left:-400px;
}
#vertical-draft .vertical-row.display-row[data-dispnum="45"]{
	top:-775px;
	left:-425px;
}
