html,body {
	/*background-color: #FFFACD;*/
	background-color: rgba(245,245,245,.8);
}
h1#site-title {
	background-color: rgba(0,255,255,.8);
	text-align: center;
	position: fixed;
	top: 0px;
	right: 0px;
	font-size: 30px;
	font-style: italic;
	z-index: 30;
	width: 250px;
	margin: 0 auto;
	border-radius: 10px;
}
input#file-title {
	background-color: #F0FFF0;
	font-size: 20px;
	position: relative;
	top: 0px;
	left: 0px;
	border-radius: 5px;
	text-align: center;
	border-color: rgba(255,127,80,.6);
	display: block;
}
input#command {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: yellow;
	z-index: 50;
}
#app-container {
	/* background-color: rgba(165,42,42,.7); */
	/* background-color: #FFFACD;            */
	background-color: rgba(245,245,245,.8);
	/*border: 1px gray dashed;*/
	width: 85%;
	height: 90%;
	position: absolute;
	top: 80px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0 auto;
	text-align: center;
}
.menubar {
	text-align: left;
	background-color: yellow;
	height: 20px;
}
.menu-file {
	text-align: left;
	background-color: grey;
	height: 25px;
	width: 100px;
	margin-bottom: 0px;
	font-size: 20px;
}
.doc-info {
	background-color: yellow;
	position: fixed;
	bottom: 0;
	left: 0px;
	width: 100%;
	text-align: center;
	z-index: 7;
}
#header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background-color: rgba(211,211,211,.8);
	border-bottom-color: rgba(169,169,169,.8);
}
menu[type="toolbar"] {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: grey;
}
#vertical-draft {
	border: 1px brown;
	/*width: 85%;*/
	/*max-width: 1400px;*/
	cursor: vertical-text;
	top: 0px;
	right: 0px;
	background-color: white;
	/*
	background-image: url(img/old-paper02-768x480.jpg);
	background-image: url(img/gatag-00006130.png);
	background-position: 20% 20%;
	display: table;
	margin:auto auto;
	*/
	margin: 0 auto;
	overflow: visible;
	z-index: 5;
	padding: 2.5% 2.5% 2.5% 2.5%;
	border: 1px solid #222;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,
	0 0 5px rgba(0,0,0,0.3) inset,
	0 1px 2px rgba(0,0,0,0.3);
	border-radius: 3px;
	/*
	text-shadow: 0px 1px 2px #111111;
	*/

	height: 90%;
	position: relative;
	display:table;
	/*
	width: 90%;
	height: 85%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	*/
	/*
	-ms-text-combine-horizontal: all;
	-webkit-text-combine: horizontal;
	text-combine-upright: all;
	*/
}
.vertical-paragraph {
	/* border: 1px red dashed; */
	position: relative;
	margin: 0 0 0 0;
	/*top: 20px;*/
	top: 5px;
	right: 20px;
	border-top: 2px grey solid;
	border-bottom: 2px grey solid;

	float: right;
	/* transform: rotate(90deg); */
	height: 90%;
	margin-top: 2.5%;
}
.vertical-row {
	/*
	height: 95%;
	 */
	overflow: hidden;
	border: 1px gray dashed;
	/* width: 675px;  */
	/* height: 25px;  */
	width: 25px;
	height: 100%;
	position: relative;
	color: black;
	padding: 0 0 0 0;
	text-align: left;
	overflow: hidden;

	float: right;
	display: table-cell;
	margin: auto 0;

	/* transform: rotate(90deg); */
}
.vertical-char{
	border: 1px yellowgreen dashed;
	vertical-align: middle;
	position: relative;
	right: 2px;
	left: 3px;
	width: 20px;
	height: 20px;

	display: table-column;
	/* transform: rotate(90deg); */
	float: left;
	clear: left;
}
#vertical-draft > .vertical-paragraph > .vertical-row {
	display: none;
	overflow: visible;
}
#vertical-draft .vertical-char {
	display: none;
}
#vertical-draft > .vertical-paragraph > .vertical-row.display-row {
	display: block;
}
#vertical-draft .vertical-row > .vertical-char.display-char {
	display: inline;
}
#vertical-draft .EOL.vertical-char{
	/* border: 1px gray dashed; */
	/*
	display: table-column;
	float: left;
	clear: left;
	left: 5px;
	 */
	position: relative;
	width: 20px;
	height: 20px;
	display: inline;
}
.cursor{
	border-top: 1px black solid;
	/*
	display: table-column;
	float: left;
	clear: left;
	left: 5px;
	position: relative;
	*/
	width: 20px;
	height: 20px;
}
.cursor-row::before {
	content: '';
	position: absolute;
	background-color: grey;
	width: 20px;
	height: 5px;
	top: -12px;
	right: 3px;
}
.vertical-dot {
	position: relative;
	top: -10px;
	right: -8px;
	padding-left: 5px;
	left: 10px;
}
.cursor.vertical-dot {
	border-top: 1px yellowgreen dashed;
}
.cursor.vertical-dot::before{
	content: '';
	border-top: 1px black solid;
	position: absolute;
	top: 8px;
	right: 5px;
	width: 20px;
	height: 5px;
}
.character-line {
	transform: rotate(90deg);
	top: 3px;
}
.character-line.cursor {
	border-top: 1px yellowgreen dashed;
	border-left: 1px black solid;
}
.vertical-before-bracket {
	transform: rotate(90deg);
	position: relative;
	top: 12px;
	left: 8px;
}
.vertical-after-bracket {
	transform: rotate(90deg);
	position: relative;
	left: 3px;
	top: 2px;
}
.cursor.vertical-before-bracket::before{
	content: '';
	transform: rotate(-90deg);
	border-top: 1px black solid;
	position: absolute;
	top: 10px;
	right: 20px;
	width: 20px;
}
.decolation-font-big > .cursor.vertical-before-bracket::before{
	content: '';
	transform: rotate(-90deg);
	border-top: 1px black solid;
	position: absolute;
	bottom: 5px;
	left: 1px;
	width: 45px;
}
.vertical-before-bracket.cursor {
	border-top: 1px yellowgreen dashed;
}
.cursor.vertical-after-bracket::before{
	content: '';
	transform: rotate(-90deg);
	border-top: 1px black solid;
	position: absolute;
	top: 7px;
	right: 9px;
	width: 20px;
}
.vertical-after-bracket.cursor {
	border-top: 1px yellowgreen dashed;
}
#vertical-draft > .vertical-paragraph > .vertical-row:first-child {
}
.vertical-row.page-break {
	border-right: 2px grey solid;
}
.vertical-row.page-last-row {
}
.page-last-row {
	border-left: 2px grey solid;
}
#date {
	clear: right;
	z-index: 10;
}
.input-buffer {
	width: 20px;
	position: fixed;
	/*
	background-color: rgba(211,211,211,.8);
	*/
	z-index: 10;
	box-shadow: 3px 2px;
	display: none;
	background: rgba(0,0,0,.1);
	/*
	padding: 20px;
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	*/
	/*
	-ms-text-combine-horizontal: all;
	-webkit-text-combine: horizontal;
	text-combine-upright: all;
	*/
}
.input-buffer:before, .input-buffer:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
}
.input-buffer:before {
	top: 0;
	left: 0;
	z-index: -10;
	background: #f5f5f5;
}
.input-buffer:after {
	top: 4px;
	left: 4px;
	z-index: -20;
	background: rgba(0,0,0,0.2);
	box-shadow: 4px 4px 0 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 0 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 4px 4px 0 0 rgba(0,0,0,0.2);
}
.alphabet {
	/* -ms-text-combine-horizontal: all; */
	/* -webkit-text-combine: horizontal; */
	/* text-combine-upright: all;        */
	padding-left: 8px;
	padding-bottom: 2px;
}
.input-buffer .alphabet{
	padding-left: 5px;
}
.suzi {
	padding-left: 6px;
}
.yoin {
	padding-left: 5px;
	bottom: 5px;
}
.input-buffer .vertical-char {
	left: 0px;
}
.input-buffer .vertical-dot {
	left: 7px;
}
.input-buffer > .character-line {
	border: none;
	padding-top: 3px;
}
button {
	display: table-cell;
	vertical-align: middle;
}
.button_container {
	display: inline;
}
#input > p {
	margin:0 0 0 0;
}
#input:focus {
	background: green;
}
.data{
	display: none;
}
.convert-view {
	width: 180px;
	z-index: 0;
	position: fixed;
}
.convert-view[data-alternativeList="select"]{
	z-index: 10;
	background-color: grey;
}
.convert-view:before, .convert-view:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
}
.convert-view:before {
	top: 0;
	left: 0;
	z-index: -10;
	/*
	background: #f5f5f5;
	*/
}
.convert-view:after {
	top: 4px;
	left: 4px;
	z-index: -20;
	background: rgba(0,0,0,0.2);
	box-shadow: 4px 4px 0 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 0 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 4px 4px 0 0 rgba(0,0,0,0.2);
}
.convert-view > .vertical-row {
	border: none;
	width: 30px;
	float: right;
	overflow: hidden;
	/*
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
	*/
}
.convert-view > .vertical-row > .vertical-char {
	border: none;
}
.alternative-focus {
	background-color: white;
}
#input_buffer > .vertical-char.selectPhrase {
	background-color: yellow;
}
#file-list {
/*
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 15%;
	text-align: left;
	background-color: #B0C4DE;
	padding: 10px 10px 10px 10px;
	/*overflow: auto;*/
*/
}
#user-info {
	width: 400px;
	height: 40px;
}
.modal-backdrop.fade.in.none_modal-backdrop {
	opacity: 0;
}
.modal-title-open {
}
#file-list-modal.command_modal .modal-title-open {
	display: none;
}
.modal-title-command {
	display: none;
}
#file-list-modal.command_modal .modal-title-command {
	display: block;
}
#file-list-modal.command_modal .form-group {
	display: none;
}
#file-list-modal.command_modal .modal-dialog {
	position: absolute;
	bottom: 0px;
}
#file-list-modal.command_modal .modal-content {
}
#help-tabs > ul.tab-body {
	display: none;
}
#help-tabs > ul.tab-body.current-tab{
	display: block;
}
.navbar-default {
	height: 40px;
}
