.style-strLen-30 .vertical-char {
	padding: 1% 1% 0 0;
}
span.decolation-color-red {
	color: red;
}
span.decolation-color-blue {
	color: blue;
}
span.decolation-font-big {
	font-size: 45px;
	width: 45px;
	height: auto;
}
.decolation-font-big > .vertical-row {
	width: auto;
}
#vertical-draft span.EOL.vertical-char.decolation-font-big {
	width: 45px;
}
span.decolation-font-small {
	font-size: 15px;
}
