body {
	text-align: center;
	background-color: grey;
	font-size: 12px;
}
h1 {
	display: none;
}
p#title {
	display: none;
}
input#title[name="title"] {
	display: none;
}
#app{
	background-color: brown;
	border: none;
	width: 100%;
	max-width: 1500px;
	height: 780px;
	position: relative;
	margin:0 auto;
}
.menubar {
	display: none;
}
.menu_file {
	text-align: left;
	background-color: grey;
	height: 25px;
	width: 100px;
	margin-bottom: 0px;
	font-size: 20px;
}
.infomation {
	display: none;
}
#vertical_draft {
	border: none;
	width: 100%;
	max-width: 1400px;
	height: 700px;
	position: relative;
	/*
	top: 10px;
	left: 50px;
	*/
	background-color: yellowgreen;
	overflow: scroll;
	display: table;
	z-index: 5;
	margin:0 auto;
}
.vertical_paragraph {
	float: right;
	position: relative;
	margin: 0 0 0 0;
	top: 20px;
	right: 20px;
	border: none;
}
.vertical_row {
	border: none;
	width: 30px;
	height: 665px;
	float: right;
	position: relative;
	overflow: hidden;
	color: black;
	padding: 0 0 0 0;
	text-align: center;
	display: table-cell;
}
.vertical_character{
	border: none;
	display: table-column;
	float: left;
	clear: left;
	position: relative;
	left: 5px;
	width: 20px;
	height: 20px;
	margin: 0 0 0 0;
}
#vertical_draft > .vertical_paragraph > .vertical_row {
	display: block;
}
#vertical_draft > .vertical_paragraph > .vertical_row.displayRow {
	display: block;
}
.EOL{
	display: table-column;
	float: left;
	clear: left;
	position: relative;
	left: 5px;
	width: 20px;
	height: 20px;
	border: none;
}
.focus{
	display: table-column;
	float: left;
	clear: left;
	position: relative;
	left: 5px;
	width: 20px;
	height: 20px;
}
.vertical_dot {
	position: relative;
	top: -10px;
	right: -8px;
	padding-left: 5px;
}
.focus.vertical_dot {
}
.focus.vertical_dot::before{
	content: '';
	position: absolute;
	top: 8px;
	right: 5px;
	width: 20px;
	height: 5px;
}
.character_line {
	transform: rotate(90deg);
	position: relative;
	right: 3px;
	padding-top: 2px;
	height: 18px;
}
.character_line.focus {
	border: none;
}
#vertical_draft > .vertical_paragraph > .vertical_row:first-child {
}
.vertical_row.page_break {
	border-right: 2px white solid;
	page-break-before: always;
}
.vertical_row.page_last_row {
}
.page_last_row {
	border-left: 2px white solid;
}
#date {
	display: none;
}
.input_buffer {
	width: 20px;
	position: fixed;
	background-color: grey;
	z-index: 10;
	display: none;
}
.input_buffer .vertical_character {
	left: 0px;
	display: none;
}
.input_buffer > .character_line {
	border: none;
	padding-top: 3px;
	display: none;
}
button {
	width: 50px;
	height: 20px;
	display: none;
}
#input > p {
	margin:0 0 0 0;
}
#input:focus {
	background: green;
}
.number_of_line {
}
.number_of_char {
}
.NOC_line {
}
.focus_char {
}
.focus_line{
}
.data{
	display: none;
}
.convertView {
	z-index: 0;
	position: fixed;
	display: none;
}
.convertView[data-alternativeList="select"]{
	z-index: 10;
	background-color: grey;
}
.convertView > .vertical_row {
	border: none;
	display: none;
}
.convertView > .vertical_row > .vertical_character {
	border: none;
	display: none;
}
.alternative_focus {
	background-color: white;
}
.input_buffer > .vertical_character.selectPhrase {
	background-color: yellow;
}
.file_list {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100px;
	text-align: left;
	display: none;
}
.file_link {
	color: blue;
}
